<!-- Just an image -->

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
                <img src="../assets/logo.png" width="200" height="35" alt="">

        </a>

        <span class="navbar-text">
                <h5>
                        AKAIKE TECHNOLOGIES </h5>
        </span>
</nav>





<div class="container-fluid">
        <div class="row">


                <div class="col-lg-3">
                        <br><br>



                        <div style="text-align:center">






                                <img *ngIf="type==='image'" [src]="url" height="300" width="70%">
                                <img *ngIf="type==='video'" src='../assets/alt.png' height="300" width="70%">
                                <br><br>


                                <div class="form">
                                        <div class="container" style="padding-left: 10%; padding-right: 10%;">




                                                <div class="form-group">

                                                        <input type="text" class="form-control" id="food_item"
                                                                [(ngModel)]="food_item" placeholder="Food Item"
                                                                required="required">
                                                </div>
                                                <div class="form-group">

                                                        <input type="number" class="form-control" id="offer_value"
                                                                [(ngModel)]="offer_value" placeholder="offer value">
                                                </div>
                                                <div class="form-group">

                                                        <input type="text" class="form-control" id="coupon_code"
                                                                [(ngModel)]="coupon_code" placeholder="Coupon Code">
                                                </div>

                                                <div class="form-group">

                                                        <input type="text" class="form-control" id="restaurant_name"
                                                                [(ngModel)]="restaurant_name"
                                                                placeholder="Restaurant Name" required="required">
                                                </div>
                                                <div class="form-group">

                                                        <input type="text" class="form-control" id="logo_link"
                                                                [(ngModel)]="logo_link" placeholder="Logo Link">
                                                </div>
                                                <div class="form-group">

                                                        <input type="text" class="form-control" id="copy_description"
                                                                [(ngModel)]="copy_description"
                                                                placeholder="Copy Description">
                                                </div>

                                                <button class="btn btn-primary btn-sm" type="submit" (click)="upload()"
                                                        [disabled]='is_disabled'>Generate Banner</button>
                                        </div>
                                </div>






                        </div>
                </div>




                <div class="col-lg-9">

                        <div *ngIf="show && valid_image" style="text-align:center; padding-top: 110px;">
                                <a [href]=image download>
                                        <img [src]=image alt="Unable to generate banner  🙁 " width="984px"
                                                height="504px">
                                </a>
                        </div>
                        <div *ngIf="show && !valid_image" style="text-align:center; padding: 200px;">
                                <div class="alert alert-danger" role="alert">
                                        {{message}}
                                      </div>
                        </div>
                        <div class="spinner" *ngIf="is_disabled" style="padding-left: 40%;padding-top: 20%;">
                                <div class="sk-chase">

                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                        <div class="sk-chase-dot"></div>
                                </div>

                        </div>

                </div>



        </div>

</div>
<router-outlet></router-outlet>
